@{
    ViewBag.Title = "About iTunes Search";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Use this Web App to search iTunes, enter the term to search in the search box.</p>
<p>You can also view the most popular items by selecting the "Analytics" submenu</p>
