@model iTunesSearch.Models.ITunesResponse

<li class="icon-list-sheets">
    <div class="icon-list-image"></div>
    <div class="icon-list-content">
        <h4>@Html.DisplayNameFor(model =>)</h4>
        <p>Text on the right from the image</p>
    </div>
    <div class="clear"></div>
</li>
